.main__discount-section{
  width: 92%;
  max-width: calc(820px + 10vw);
  margin: 0 auto;
}

.main__discount-section .main__result-price{
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}